    //主色
    $color-dy-primary: #9967FB;

    //辅色
    $color-dy-secondary-1: #FFBF3A;
    $color-dy-secondary-2: #83B1FF;
    
    // 基础色
    $color-dy-basic-1: #5A5061;
    $color-dy-basic-2: #D9D7DA;
    $color-dy-basic-3: #F6F5F7;


