.theme-#{$theme-name} {
    /*
    * Element Table
    */

    // 表格圆角 增加 4px
    .el-table--border, .el-table--group { border-radius:4px; }

    // 表格内边距 修改 8px 
    .el-table td, .el-table th { padding:8px 0; }

    // 表格按钮 清除 内边距
    .el-table .cell .el-button--small,
    .el-table .cell .el-button--small.is-round { padding:0 !important; }

    // 表格字号 修改 12px
    .el-table { font-size:12px; }

    // 表格多选 修正 内边距
    .el-table--border tbody td:first-child.el-table-column--selection .cell { padding-left:14px !important; }


    // 分页内边距 修正 0
    .el-pagination { padding:0; }

    // 分割线 修改 虚线
    .el-divider {  background-color:transparent; box-sizing:border-box; }
    .el-divider--horizontal { margin:16px 0;  border-bottom:1px dashed #DCDFE6; }

    //按钮 { }
    .dy-button { display:inline-block; line-height:1; white-space:normal; cursor:pointer; background-color:$color-dy-basic-1; color:#FFF; border:1px solid $color-dy-basic-1; text-align:center; box-sizing:border-box; outline:none; margin:0; transition:.1s; font-weight:500; padding:12px 20px; font-size:14px; border-radius:4px;
        > i { margin-right:4px; }
    }
    .dy-button-sub-color { background-color:#FFBF3A; }
    .dy-button-medium { padding:10px 20px; font-size:14px; border-radius:4px;  }
    .dy-button-small { padding:9px 15px; font-size:12px; border-radius:3px; }
    .dy-button-mini { padding:7px 15px; font-size:12px; border-radius:3px; }

    //表单对齐方式:top 修改 高度
    .el-form--label-top {
        .el-form-item { margin-bottom:16px;
            .el-form-item__label { line-height: 32px; padding:0 0 4px; }
        }
    }

    //
}